<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitCV</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="warp">
        <div class="cont">
          <img src="/githubicon.png" class="" />
          <h1>GitCV</h1>
        </div>
        <div class="text">
          <p>Generate your resume or portfolio website </p>
          <form method="post" action="/" class="form">
            <input type="text" name="username" placeholder="Enter your Github-ID" class="inp" />
            <button>Download your resume</button>
      </form>
      </div>
    </div>

</body>
</html>